@import "tailwindcss";

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

.animate-float {
  animation: float 5s infinite ease-in-out;
}

body {
  background-color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}